@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao sitema de gerenciamento de documentos</h1>
    <p class="mt-5">Salve e gerencie seus documentos, controlando o seus status e inserindo uma descrição para eles, baixe-os quando você quiser.</p>
    <p>Os documentos ficam salvos no seguinte diretório: C:\CadastroDocumentos</p>
    <a class="nav-link text-dark mt-5" asp-area="" asp-controller="Documentos" asp-action="Index">Ir para meus documentos</a>
</div>
